legal.txt
.svn
xilinx
obj_dir
obj-pc
obj-zip
*.o
*.a
*.vcd
*.tjz
.swp
.*.swp
.*.swo
svn-commit*
*_tb
*_tb.dbl
*dbg.txt
*dump.txt
*debug.txt
tags
main_tb
hello
hellosim
cpudefs.h
design.h
20*build.v
builddate.v
octave-workspace
*.xdc
*.dbg
*.map
